/* Override some defaults */
html {
  display:none;
  background-color: #eee;
}
body {
  background-color: #eee;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
}
.navbar {
  margin-bottom: 0;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 5px -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

a:hover {
  color: gray;
  text-decoration: none;
}

/*panel*/
.panel {
  -webkit-box-shadow: 0 2px 6px gray;
  -moz-box-shadow: 0 2px 6px gray;
  -o-box-shadow: 0 2px 6px gray;
  box-shadow: 1px 2px 6px gray;

  margin: 5px 0px;
  background-color: #fff;
}
.panel .header {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.panel .moon {
  padding: 10px;
}
.panel .moon_tags {
  padding-left: 10px;
}
.panel .inner {
  padding: 10px;
  line-height: 16px;
}
.panel .inner .unstyled li div {
  text-overflow: ellipsis;
}

.sep3 {
  height: 3px;
}

#backtotop {
  width:16px;
  color: gray;
  padding: 10px 4px;
  display:none;
  position: fixed;
  cursor: pointer;
  text-align: center;
  background-color: #ffffff;
  border: 1px dashed gray;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

#footer{
  border-top:1px solid #ccc;
  padding:10px 0 5px;
  background-color: #fff;
}
#footer p {
  text-align: center; /* center align it with the container */
}
