<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
  <head>
    {% include themes/twitter/head.html %}
  </head>

  <body>
    {% include themes/twitter/top.html %}
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span8">
          <div class="content">
            {{ content }}
	    {% include themes/twitter/pagination.html %}
	    {% include JB/wumii %}
          </div>
	  
          <div class="content">
	    {% include JB/comments %}
          </div>
        </div>
	
        <div class="span4">
          {% include themes/twitter/right.html %}
        </div>
      </div>
    </div>
    {% include themes/twitter/bottom.html %}
  </body>
</html>
