<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
  <head>
    {% include themes/twitter/head.html %}
  </head>

  <body>
    {% include themes/twitter/top.html %}
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span8">
          <div class="content">
            {{ content }}
	    {% include themes/twitter/pagination.html %}
	    <script type="text/javascript" id="wumiiRelatedItems"></script>
	    <script type="text/javascript">
	        var wumiiPermaLink = "{{ post.url }}";
	        var wumiiTitle = "{{ page.title }}";
	        var wumiiTags = "{{ post.tags }}";
	        var wumiiCategories = [{{ post.category }}];
	        var wumiiSitePrefix = "http://caishanchun.cn/";
	        var wumiiParams = "&num=3&mode=3&pf=JAVASCRIPT";
	    </script>
	    <script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
	    <a href="http://www.wumii.com/widget/relatedItems" style="border:0;"><img src="http://static.wumii.cn/images/pixel.png" alt="ÎÞÃÙ" style="border:0;padding:0;margin:0;" /></a>
          </div>
	  
          <div class="content">
	    {% include JB/comments %}
	    <script type="text/javascript">
		var disqus_shortname = 'wen12128';
		(function () {
		    var s = document.createElement('script'); s.async = true;
		    s.type = 'text/javascript';
		    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	    </script>
          </div>
        </div>
	
        <div class="span4">
          {% include themes/twitter/right.html %}
        </div>
      </div>
    </div>
    {% include themes/twitter/bottom.html %}
  </body>
</html>
