  <div class="sep3"></div>
  <a href="http://weibo.com/u/3296807540?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/3296807540/1f8f3d1e/1.png"/></a>
  <div class="panel">
    <div class="header"><span>分类：</span></div>
    <div class="inner">
      <ul class="tag_box inline">
        {% assign tags_list = site.tags %}  
        {% include JB/tags_list %}
      </ul>
    </div>
  </div>
  <div class="sep3"></div>
  <div class="panel">
    <div class="inner">
      {% for category in site.categories %} 
      <h4 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h4>
      <ul>
        {% assign pages_list = category[1] %}  
        {% include JB/pages_list %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="sep3"></div>
  <div class="panel">
    <div class="header"><span>友情链接：</span></div>
    <div class="inner">
      <a target="_blank" title="cnodejs" href="http://club.cnodejs.net/">
        <img src="{{ ASSET_PATH }}/img/cnodejs.png">
      </a>
      <a target="_blank" title="github" href="http://github.com/">
        <img src="{{ ASSET_PATH }}/img/git.jpeg">
      </a>
      <a target="_blank" title="ruby china" href="http://ruby-china.org/">
        <img src="{{ ASSET_PATH }}/img/ruby.png">
      </a>
    </div>
  </div>
  <div class="sep3"></div>
  <div class="panel">
    <div class="header"><span>RSS订阅</span></div>
    <div class="inner">
      <div style="text-align: center;">
       <a href="http://wen12128.github.com/atom.xml"><img src="{{ ASSET_PATH }}/img/rss.png" alt="RSS订阅"></a>
      </div>
    </div>
  </div>
</div>
